<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ideal.uam.mapper.report.DataReportMapper">
    <!--数据报表条件查询-->
    <select id="getDataReportList" resultType="data_report">
        select id,name,count,operation_time from data_report where 1=1
    </select>
</mapper>